html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}  

body#index{
  background-image: url("../../public/images/MagiBall.png");
}

body#question {
  background-image: url("../../public/images/psychic.png");
}  

body::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000;
  opacity: .3;
  z-index: -1; 
}

img {
  vertical-align: middle;
  border-style: none; }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-input {
  background: transparent;
  border: none;
  width: 100%;
  height: 50px;
  color: white !important;
  border: 1px solid transparent;
  background: rgba(100, 100, 100, 0.7);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;  
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.form-input:hover , .form-input:focus {
  background: black ;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.4);
}

.form-group {
  margin-bottom: 10px;  
}

.form-ask {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

.heading-section{    
  font-family: MagicFont;
  font-size: 70px;
  color: #fff3cd;
  white-space: nowrap;
}

@font-face {
  font-family: "MagicFont";
  src: url('../../public/fonts/magicdafont.ttf');
  font-style: normal;
}


  
  

